<div class="container-fluid containercolor" (mousewheel)="scrollLeft($event)" id="scroll-container">
  <div cdkDropListGroup class="cardslist">
    <div class="master-card" *ngFor="let column of boardService.getBoard$() | async">
      <div class="col-header">
        <div class="color-sec" [ngStyle]="{background: column.color}"></div>
        <div class="icon-sec">
          <h2 class="m-0">{{column.title}}</h2>
          <mat-icon [matMenuTriggerFor]="menuKbn" class="d-flex justify-content-end" style="cursor: pointer;">more_vert
          </mat-icon>

          <mat-menu #menuKbn="matMenu">
            <button mat-menu-item class="icon-delete del-task" (click)="onDeleteColumn(column.id)">
              Del Task
              <mat-icon style="font-size: 20px;">delete</mat-icon>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="Colors">Colors</button>
          </mat-menu>


          <mat-menu #Colors="matMenu" class="d-flex align-items-center">
            <app-color-panel (emitColor)="onColorChange($event, column.id)"></app-color-panel>
          </mat-menu>
        </div>
      </div>
      <div cdkDropList [cdkDropListData]="column.list" class="example-list" (cdkDropListDropped)="drop($event)">
        <div cdkDrag class="example-box" *ngFor="let item of column.list">
          <app-board-item [item]="item" (emitText)="onAddComment($event, column.id)"
            (emitCardItem)="onChangeLike($event, column.id)" (emitDeleteCard)="onDeleteCard($event, column.id)">
            <div *ngFor="let comment of item.comments">
              <app-comment-item [comment]="comment" (emitComment)="onDeleteComment($event, column.id, item)">
              </app-comment-item>
            </div>
          </app-board-item>
        </div>
      </div>
      <app-dialog (emitText)="onAddCard($event, column.id)" [question]="'Add new card in ' + column.title + ' column'">
        <div class="addtask">Add Task +</div>
      </app-dialog>
    </div>
  </div>
</div>
