$link-color: #3f51b5;
$link-hover-color: currentColor;
$link-hover-decoration: none;
$label-margin-bottom: 0;
$color1: #f0f4fc;
$color2: #f8fcfc;
$color3: #98acfc;
$color4: #888cdc;
$color5: #b4bcc5;
