@import "../../../styles/variables.scss";
.header-main {
  background-color: $color3;
  color: white;
  app-dialog {
    button.btn-p {
      position: fixed;
      bottom: 2%;
      right: 1%;
      font-size: 40px;
      font-weight: normal;
      background-color: $color3;
    }
  }
  .profile_info {
    display: flex;
    align-items: center;
    border-left: 2px solid #abc6ff;
    border-right: 2px solid #abc6ff;
    height: 100%;
    user-select: none;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      background-color: $color4;
      border-radius: 20px;
    }
    &:active {
      transform: scale(0.9);
      border-radius: 20px;
      background-color: $color4;
    }
    .name_sec {
      padding: 20px;
      font-weight: normal;
      color: #fff;
    }
    .image_profile_sec {
      padding-right: 20px;
      img {
        height: 50px;
        border-radius: 50%;
        width: 50px;
        object-fit: cover;
      }
    }
  }
}
